@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");

@font-face {
  font-family: "Nanum BaReumHiPi";
  src: url("/font/nanum.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.phrase-text {
  font-family: "Nanum BaReumHiPi";
}

::-moz-selection {
  color: #fff;
  background: #34d399;
}

::selection {
  color: #fff;
  background: #34d399;
}

.animated-background {
  background-size: 400%;

  -webkit-animation: animation 3s ease infinite;
  -moz-animation: animation 3s ease infinite;
  animation: animation 3s ease infinite;
}

@keyframes animation {
  0%,
  100% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }
}

.h-400px {
  min-height: 400px;
}
